
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // Font size of 62.5% scales 1rem to 10px.
    font-size: 62.5%;
}

/**
* Built using a CSS Grid layout
* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
* https://css-tricks.com/snippets/css/complete-guide-grid/
*/
.container {
    background-color: $color-grey-light-1;
    display: grid;
    padding: 0 1rem;

    // define header height 8rem, 5rem for summary bar, then as many rows as needed for content, min 30rem, max 1frame(rest of the screen)
    grid-template-rows: 8rem 5rem repeat(auto-fit, minmax(30rem, 1fr));

    // define 8rem for sidebar width, then a grid area for rest, min 6rem, max 1frame
    grid-template-columns: 
    [sidebar-left-start] 8rem 
    [sidebar-left-end center-start] repeat(2, minmax(6rem, 1fr))
    [center-end sidebar-right-start] 8rem
    [sidebar-right-end]
    ;
}