.graphs {
    // background-image: linear-gradient(to right bottom, $color-grey-dark, lighten($color-grey-dark, 10));
    // Define grid area being used, columns center-start to center-end, rows from row 3 to row 4
    grid-column: center-start / center-end;
    grid-row: 3 / 4;
    // Gap between grids and a small margin for styling.
    grid-gap: 1rem;
    margin-top: 1rem;
    // Create additional grid area inside chosen grid, used if necessary.
    display: grid;
    grid-template-columns: repeat(2, minmax(40rem, 1fr));

}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-grey-light-2;
    // border: 2px solid red;
    margin: 5px 5px;
    border-radius: 5px;
    &__heading {
        height: 2rem;
        font-size: 2rem;
        margin-bottom: 5px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    // Instead of :active pseudo-class use a pop-up component done with your .js framework
    &:active {
        background-color: $color-white;
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%) scale(1.3);
        transition: all .2s;
    }

}