.sidebar {
    // display: flex;
    // background-image: linear-gradient(to right bottom, $color-tuni, lighten($color-tuni, 10));
    // background-color: $color-grey-dark;
    // grid-column: 1 / -1;
    // grid-row: 1 / -1;
}

/* .nav-btn {
    border: none;
    border-radius: 0;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;

    }
} */