.summarybar {
    margin-top: 5px;
    grid-row: 2/3;
    grid-column: 3/ -1;
    background-color: $color-secondary-light;
    color: $color-grey-light-1;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 0 2rem;

    &__active {
        // stuff here
    }
    &__totals {
        // stuff here
    }
    
}